
body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #B0C4DE;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.container {
  padding: 20px;
  
}

.card {
  display: flex;
  flex-direction: column; /* mobile-first */
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.conteudo {
  padding: 16px;
}

h1 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.resumo {
  font-size: 1rem;
  font-weight: bold;
}

.texto {
  font-size: 0.95rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .card{
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
      display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 2px solid #dcdcdc
  }
  h1{
    font-size: 2.8rem;
  }
  .texto{
    font-weight: 2.2rem;
  }
  .card img {
  width: 75%;
  margin: auto;
}
}